<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Converted JUnit suite" >
    <listeners>
        <listener class-name="ExtentTestNGITestListener"></listener>
    </listeners>
    <test name="JUnitTests" junit="true" verbose="10">
        <classes>
            <class name="LoginCaseTest" />
            <class name="CheckUserExistCaseTest" />
        </classes>
    </test>
</suite>